.menu,
.menu_dark {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5vh;
}

.menu_dark {
  color: rgb(216, 216, 216);
}

.menu a,
.menu_dark a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.menu_dark a {
  color: white;
}

.menu a:hover {
  color: rgba(0, 0, 0, .5);
}

.menu_dark a:hover {
  color: rgb(216, 216, 216);
}

.menu__buttons--options,
.menu__buttons--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.menu__buttons--options {
  width: 75px;
  padding-left: .7vh;
}

.menu__buttons--nav {
  width: 30vw;

}

.menu__buttons--nav>a:first-child {
  padding-left: 35px;
}

.menu__buttons--nav>a:last-child {
  padding-right: 35px;
}

.menu button,
.menu_dark button {
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.menu button:hover {
  background-color: rgb(216, 216, 216);
}

.menu_dark button:hover {
  background-color: black;
}

.menu_dark button {
  color: white;
  border: 1px solid white;
}


.dayNightButton {
  display: flex;
  justify-content: center;
  align-items: center;
}