.menu,
.menu_dark {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
}

.menu_dark {
  color: rgb(216, 216, 216);
}

.menu a,
.menu_dark a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.menu_dark a {
  color: white;
}

.menu a:hover {
  color: rgba(0, 0, 0, .5);
}

.menu_dark a:hover {
  color: rgb(216, 216, 216);
}

.menu__buttons--options,
.menu__buttons--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.menu__buttons--options {
  width: auto;
  padding-left: .7vh;
}

.menu__buttons--nav {
  width: auto;
}

.menu__buttons--nav>a {
  margin: 15px;
}

.menu__buttons--nav>a:first-child {
  margin-left: 25px;
}

.menu__buttons--nav>a:last-child {
  margin-right: 35px;
}

.menu button,
.menu_dark button {
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.menu button:hover {
  background-color: rgb(216, 216, 216);
}

.menu_dark button:hover {
  background-color: black;
}

.menu_dark button {
  color: white;
  border: 1px solid white;
}


.dayNightButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 46px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
}

.menu_dark input {
  border: 1px solid white;
}

input:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  color: white;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: black;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

input:checked:before {
  background-color: white;
  transform: translate(100%);
  transition: all 0.5s;
}

@media all and (max-width: 1450px) {
  .menu__buttons--nav>a {
    margin: 10px;
  }

  .menu__buttons--nav>a:first-child {
    margin-left: 15px;
  }

  .menu__buttons--nav>a:last-child {
    margin-right: 15px;
  }

  .menu,
  .menu_dark {
    justify-content: center;
  }

}

@media all and (max-width: 600px) {
  .menu__buttons--nav {
    display: none;
  }

}