.Menu {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5vh;
}

.menu__buttons--options,
.menu__buttons--nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  background-color: white;
}

.menu__buttons--options {
  width: 75px;
  padding-left: .7vh;
}

.menu__buttons--nav {
  width: 30vw;

}

.menu__buttons--nav>a:first-child {
  padding-left: 35px;
}

.menu__buttons--nav>a:last-child {
  padding-right: 35px;
}


button {
  padding: 3px;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  background-color: gray;
  border-style: none;
  border-radius: 40%;
}

.dayNightButton {
  display: flex;
  justify-content: center;
  align-items: center;
}