.portfolio,
.portfolio_dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(247, 248, 251, 1) 29%, rgba(204, 210, 229, 1) 49%, rgba(83, 141, 210, 1) 100%);
}

.portfolio_dark {
  background: rgb(60, 60, 60);
  background: linear-gradient(180deg, rgba(60, 60, 60, 1) 0%, rgba(52, 52, 52, 1) 32%, rgba(39, 39, 39, 1) 72%, rgba(29, 28, 28, 1) 100%);
  color: rgb(216, 216, 216);
}

.portfolio__title {
  position: absolute;
  font-size: 30px;
  margin-bottom: 75vh;
}

.portfolio__content--img img {
  width: 500px;
}

.portfolio a:hover,
.portfolio_dark a:hover {
  opacity: .7;
}

.portfolio article,
.portfolio_dark article {
  text-align: center;
  width: 500px;
  height: 450px;
}

.portfolio__icons {
  justify-content: center;
  display: flex;
}

.portfolio__icons img {
  width: 50px;
  padding: 5px;
}


.portfolio h2,
.portfolio_dark h2 {
  margin: 15px 0;
  font-size: 24px;
}

.portfolio p,
.portfolio_dark p {
  padding: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
}

.portfolio a,
.portfolio_dark a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.portfolio_dark a {
  color: white;
}

.portfolio a:hover {
  color: rgba(0, 0, 0, .5);
}

.portfolio_dark a:hover {
  color: rgb(216, 216, 216);
}

@media all and (max-width: 1200px) {
  .portfolio__content--img img {
    width: 300px;
  }

  .portfolio article,
  .portfolio_dark article {
    width: auto;
    height: 450px;
    margin: 20px;
  }
}

@media all and (max-width: 940px) {

  .portfolio,
  .portfolio_dark {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }

  .portfolio article:first-child,
  .portfolio_dark article:first-child {
    height: auto;
  }

  .portfolio__title {
    position: relative;
    display: inline;
    font-size: 25px;
    margin: 120px 0 40px 0;

  }
}

@media all and (max-width: 600px) {

  .portfolio__title {
    margin: 50px 0 40px 0;
  }

  .portfolio h2,
  .portfolio_dark h2 {
    font-size: 20px;
  }

  .portfolio article,
  .portfolio_dark article {
    width: auto;
    height: 450px;
    margin: 40px;
  }

}