.contact,
.contact_dark,
.contact__content,
.contact__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact,
.contact_dark {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(247, 248, 251, 1) 29%, rgba(204, 210, 229, 1) 49%, rgba(83, 141, 210, 1) 100%);
}

.contact_dark {
  background: rgb(60, 60, 60);
  background: linear-gradient(0deg, rgba(60, 60, 60, 1) 0%, rgba(52, 52, 52, 1) 32%, rgba(39, 39, 39, 1) 72%, rgba(29, 28, 28, 1) 100%);
  color: rgb(216, 216, 216);
}

.contact__content,
.contact__media {
  flex-direction: column;
}

.contact__content img {
  width: 300px;
}

.contact__content h3 {
  text-align: center;

}

.contact__content a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.contact__content a:hover {
  opacity: .7;
}

.contact__content p {
  margin-left: 20px;
}

.contact__media img {
  width: 64px;
}

.contact h2,
.contact_dark h2 {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5px;
}

.contact a,
.contact_dark a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.contact_dark a {
  color: rgb(216, 216, 216);
}

@media all and (max-width: 1000px) {

  .contact__media img {
    width: 48px;
  }

  .contact a,
  .contact_dark a {
    font-size: 18px;
  }

  .contact h2,
  .contact_dark h2 {
    font-size: 20px;
  }

  .contact__content>img {
    width: 150px;
  }

  .contact,
  .contact_dark {
    height: auto;
    padding-top: 70px;
  }

}

@media all and (max-height: 740px) {

  .contact__content>img {
    width: 150px;
  }

  .contact h2,
  .contact_dark h2 {
    font-size: 20px;
  }

  .contact__media img {
    width: 48px;
  }

  .contact__content p {
    font-size: 18px;
  }

}

@media all and (max-height: 600px) {

  .contact__content>img {
    width: 120px;
  }

  .contact h2,
  .contact_dark h2 {
    font-size: 20px;
  }

  .contact__media img {
    width: 24px;
  }

  .contact__content p {
    font-size: 18px;
  }

  .footer {
    margin-top: 20px;

  }

  .contact__media {
    flex-direction: row;
  }
}