.contact,
.contact_dark,
.contact__content,
.contact__media {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact,
.contact_dark {
  height: 100vh;
  background-color: rgba(12, 75, 192, 0.774);
}

.contact_dark {
  background-color: gray;
}

.contact__content,
.contact__media {
  flex-direction: column;
}

.contact__content img {
  width: 300px;
}

.contact__content h3 {
  text-align: center;

}

.contact__content a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.contact__content a:hover {
  opacity: .7;
}

.contact__content p {
  margin-left: 20px;
}

.contact__media img {
  width: 64px;
}

.contact h2,
.contact_dark h2 {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 30px;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90vh;
}

.contact a,
.contact_dark a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}