.experience,
.experience_dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.experience {
  background-color: rgba(12, 75, 192, 0.774);
}

.experience_dark {
  background-color: gray;
}

.experience__title {
  position: absolute;
  font-size: 30px;
  margin-bottom: 75vh;
}


.experience>div,
.experience_dark>div {
  text-align: center;
}

.experience span,
.experience_dark span {
  color: rgb(85, 82, 82);
}

.experience .html,
.experience_dark .html {
  padding-left: 25px;
}

.experience>div:last-child,
.experience_dark>div:last-child {
  padding-right: 25px;
}

.experience__content--img {
  height: 150px;
}

ul>li {
  padding: 10px;
  font-size: 20px;
}

.experience__content--img img {
  max-width: 140px;
}

.angular img {
  opacity: .4;
}

.experience article,
.experience_dark article {
  width: 250px;
  height: 350px;
}