.experience,
.experience_dark {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(247, 248, 251, 1) 29%, rgba(204, 210, 229, 1) 49%, rgba(83, 141, 210, 1) 100%);
}

.experience_dark {
  background: rgb(60, 60, 60);
  background: linear-gradient(0deg, rgba(60, 60, 60, 1) 0%, rgba(52, 52, 52, 1) 32%, rgba(39, 39, 39, 1) 72%, rgba(29, 28, 28, 1) 100%);
  color: rgb(216, 216, 216);
}

.experience__title {
  width: 100vh;
  position: absolute;
  font-size: 30px;
  margin-bottom: 75vh;
  text-align: center;
}


.experience>div,
.experience_dark>div {
  text-align: center;
}

.experience span,
.experience_dark span {
  color: rgb(92, 90, 90);
}

.experience .html,
.experience_dark .html {
  padding-left: 25px;
}

.experience>div:last-child,
.experience_dark>div:last-child {
  padding-right: 25px;
}

.experience__content--img {
  height: 150px;
}

ul>li {
  padding: 10px;
  font-size: 20px;
}

.experience__content--img img {
  max-width: 140px;
}

/* .angular img {
  opacity: .4;
} */

.experience article,
.experience_dark article {
  width: 250px;
  height: 350px;
}

@media all and (max-width: 1300px) {
  .experience__content--img {
    height: 100px;
  }

  .experience__content--img img {
    max-width: 80px;
  }

  .experience article,
  .experience_dark article {
    width: 200px;
    height: 350px;
  }

  .experience .html,
  .experience_dark .html {
    margin-left: 25px;
  }

  .experience>div:last-child,
  .experience_dark>div:last-child {
    padding-right: 35px;
  }
}

@media all and (max-width: 1000px) {
  ul>li {
    padding: 10px;
    font-size: 18px;
  }

  .experience,
  .experience_dark {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }

  .experience article,
  .experience_dark article {
    width: 300px;
    height: auto;
    margin-bottom: 40px;
  }

  .experience .html,
  .experience_dark .html {
    padding-left: 0;
    margin-left: 0;
  }

  .experience>div:last-child,
  .experience_dark>div:last-child {
    padding-right: 0;
    height: 250px;
  }

  .experience__title {
    position: relative;
    display: inline;
    font-size: 25px;
    margin-bottom: 45px;
  }

}

@media all and (max-width: 600px) {

  .experience h2,
  .experience_dark h2 {
    font-size: 20px;
  }

}